# 표준 파이썬 자료구조
### 리스트

In [1]:
lst = [10, 20, 30]
print(lst, type(lst))

[10, 20, 30] <class 'list'>

In [3]:
list(['java', 'python', 'R'])

['java', 'python', 'R']

In [4]:
print(list(range(5)))
print(list(range(1, 10, 2)))

[0, 1, 2, 3, 4]
[1, 3, 5, 7, 9]

In [5]:
lst = [1, 3.92, 3>4, 'list']
print(lst[0], lst[2])

1 False

In [6]:
lst[2:4]

[False, 'list']

In [7]:
print(lst[2:])
print(lst[:4])
print(lst[-1:-4:-1])

[False, 'list']
[1, 3.92, False, 'list']
['list', False, 3.92]

In [17]:
import math as m
a = [ m.pi, 30, 10 > 4, 'list', lambda x: x** 3]
a.append('py')
a

[3.141592653589793, 30, True, 'list', <function __main__.<lambda>(x)>, 'py']

In [16]:
def add2(x, y):
    return x+ y
a.insert(1, add2)
a[1](10, 20)

30

In [18]:
a

[3.141592653589793, 30, True, 'list', <function __main__.<lambda>(x)>, 'py']

In [19]:
a.remove(30)
a

[3.141592653589793, True, 'list', <function __main__.<lambda>(x)>, 'py']

In [20]:
a.pop()         #마지막 요소 제거, 반환

'py'

In [22]:
a

[3.141592653589793, True, 'list', <function __main__.<lambda>(x)>]

In [23]:
my_list = [x for x in range(10)]

In [24]:
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
[x for x in range(10) if x%2 == 1]

[1, 3, 5, 7, 9]

In [26]:
['even' if i%2 == 0 else 'odd' for i in range(1, 11)]

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [27]:
[[i for j in range(5)] for i in range(3)]

[[0, 0, 0, 0, 0], [1, 1, 1, 1, 1], [2, 2, 2, 2, 2]]

In [28]:
[[j for j in range(i, i+ 6)] for i in range(3)]

[[0, 1, 2, 3, 4, 5], [1, 2, 3, 4, 5, 6], [2, 3, 4, 5, 6, 7]]

### 사전 dictionary

In [29]:
mart = {'라면':1200, '음료수': 1500, '과자': 800}
print(mart, type(mart))

{'라면': 1200, '음료수': 1500, '과자': 800} <class 'dict'>

In [30]:
print(mart['라면'])
print(mart['과자'])
print(mart['음료수'])

1200
800
1500

In [31]:
data = {1: '일', 3.14: 2.71, (1,2): '튜플', 'list': [ 1,2,3]}

In [32]:
data

{1: '일', 3.14: 2.71, (1, 2): '튜플', 'list': [1, 2, 3]}

In [33]:
data = {1: '일', 3.14: 2.71, [1,2]: '리스트', 'list': [ 1,2,3]}      # 수정가능한 리스트는 키로 사용 불가능함

TypeError: unhashable type: 'list'

In [34]:
f_cnt = dict((('apple', 2), ('banana', 5), ('orange', 3)))
f_cnt

{'apple': 2, 'banana': 5, 'orange': 3}

In [35]:
f_price = dict(apple = 4000, banana = 300, orange = 2000)
f_price

{'apple': 4000, 'banana': 300, 'orange': 2000}

In [36]:
print(mart)
mart['삼각김밥'] = 1700
mart

{'라면': 1200, '음료수': 1500, '과자': 800}

{'라면': 1200, '음료수': 1500, '과자': 800, '삼각김밥': 1700}

In [37]:
mart['과자'] = 900
mart

{'라면': 1200, '음료수': 1500, '과자': 900, '삼각김밥': 1700}

In [38]:
mart.keys()

dict_keys(['라면', '음료수', '과자', '삼각김밥'])

In [39]:
mart.values()

dict_values([1200, 1500, 900, 1700])

In [40]:
mart.items()

dict_items([('라면', 1200), ('음료수', 1500), ('과자', 900), ('삼각김밥', 1700)])

## 튜플과 집합

tuple은 immutable,딕셔너리 키나 집합의 원소로 사용가능

In [1]:
tp1 = 1, 2, 3        #튜플 생성 방식으로 ()생략 가능
tp2 = (10, 20, 30)
print(tp1, tp2)

(1, 2, 3) (10, 20, 30)

In [1]:
tp3 = tuple((10, 20, 30))
tp4 = tuple(['py', 'R'])
print(tp3, tp4)

(10, 20, 30) ('py', 'R')

In [2]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2
concatenated_tuple

(1, 2, 3, 4, 5, 6)

집합, 중복된 원소가 없는 순서가 없는 자료형

In [3]:
basket = {'apple', 'orange', 'apple', 'pear'}
basket

{'apple', 'orange', 'pear'}

In [4]:
len(basket)

3

원소 수를 확인 가능하다.

In [5]:
print('grape' in basket)
print('apple' in basket)

False
True

In [7]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6, 7}
print(A.union(B))                   #합집합
print(A.intersection(B))            #교집합
print(A.difference(B))              #차집합
print(B.difference(A))              #차집합
print(A.symmetric_difference(B))    #여집합

{1, 2, 3, 4, 5, 6, 7}
{3, 4}
{1, 2}
{5, 6, 7}
{1, 2, 5, 6, 7}

In [8]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6, 7}
print(A | B)
print(A & B)
print(A - B)
print(B - A)
print(A ^ B)

{1, 2, 3, 4, 5, 6, 7}
{3, 4}
{1, 2}
{5, 6, 7}
{1, 2, 5, 6, 7}

In [10]:
basket = {'apple', 'orange', 'apple', 'pear'}
basket.add('banana')
basket

{'apple', 'banana', 'orange', 'pear'}

In [11]:
myset ={0}
print(myset)
myset.add([1, 2]) #오류 리스트는 수정가능하여 집합의 원소로 불가능

{0}

TypeError: unhashable type: 'list'

In [12]:
myset = {0}
myset.add((1, 2)) # 수정불가능한 튜플은 가능
myset

{(1, 2), 0}

In [13]:
myset.remove(0)
myset

{(1, 2)}

In [14]:
print(hash[1, 2, 3])

TypeError: 'builtin_function_or_method' object is not subscriptable

In [15]:
print(hash({'one: 1'}))

TypeError: unhashable type: 'set'

위처럼 수정이 가능한 리스트나 딕셔너리, 집합은 hash값을 가질 수 없다.

수정 불가능한 기본자료형과 튜플은 고유한 hash 값이 있다.

In [16]:
print(hash('py'), hash((1, 2)))

4116228565203489502 -3550055125485641917

In [17]:
help(id)

Help on built-in function id in module builtins:

id(obj, /)
    Return the identity of an object.

    This is guaranteed to be unique among simultaneously existing objects.
    (CPython uses the object's memory address.)

In [18]:
x, y = 10, 10
print(id(x), id(y))

140703639485144 140703639485144