# 제어 흐름과 함수

#### 조건 if

In [1]:
n = 20
if n%2 == 0:
    print("짝수")

짝수

In [2]:
n = 21
if n%2 == 0:
    print("짝수")
    # 조건이 안 맞아서 아무것도 출력되지 않음

In [3]:
age = 18
if age >= 20:
    print('성인')
else:
    print('미성년자')
age2 = 21
if age2 >= 20:
    print('성인')
else:
    print("미성년자")

미성년자
성인

In [4]:
age = 18
s = '성인' if age >= 20 else '미성년자'
print(s)

미성년자

In [5]:
age = 20
s = '성인' if age >= 20 else '미성년자'
print(s)

성인

In [6]:
point = 92
if( 90 <= point):
    print('A')
elif ( 80 <= point):
    print('B')
elif ( 70 <= point):
    print('C')
elif ( 60 <= point):
    print('D')
else: 
    print('F')

A

In [7]:
point = 62
if( 90 <= point):
    print('A')
elif ( 80 <= point):
    print('B')
elif ( 70 <= point):
    print('C')
elif ( 60 <= point):
    print('D')
else: 
    print('F')

D

### match r과 자바, c 에서의 switch 구문과 비슷하다

match exp:

case value1:

    statements

case value2:

    stastments

    ...

case _:

    statements

In [8]:
value = "apple"
match value:
    case 'apple':
        result = "사과"
    case 'banana':
        result = "바나나"
        
print(result)

사과

In [9]:
value = "banana"
match value:
    case 'apple':
        result = "사과"
    case 'banana':
        result = "바나나"
        
print(result)

바나나

In [10]:
value = "mange"
match value:
    case 'apple':
        result = "사과"
    case 'banana':
        result = "바나나"
    case _:
        result = None
        
print(result)

None

## 반복
### 반복문 for

In [11]:
for x in range(1, 6):
    print(x)

1
2
3
4
5

In [12]:
num = [10, 20, 30, 40]
for i in num:
    print(i)

10
20
30
40

In [13]:
fruits = list(["apple", 2500, "banana", 500, "mange", 2000])
for x in fruits:
    print(x)

apple
2500
banana
500
mange
2000

In [14]:
i = 1
sum = 0
while i <=10:
    sum += i
    i += 1
    
print(sum)

55

## 함수 구현

In [15]:
def hello():
    print('Hello, Python !')
hello()

Hello, Python !

In [17]:
hello               #괄호가 없으면 메모리에 저장된 함수 객체를 참조한다. 16진수로 된 객체가 저장된 메모리주소가 나온다.

In [18]:
type(hello)

function

In [1]:
def hi(one):
    print("안녕, ", one)
hi("영희")

안녕,  영희

In [2]:
def hi(one = ' 친구들 '):
    print("안녕, ", one)
hi("영희")

안녕,  영희

In [20]:
hi

In [21]:
str(hi)

'<function hi at 0x0000020F00056FC0>'

In [4]:
hi()

안녕,   친구들

In [5]:
hi("철수")

안녕,  철수

In [6]:
hi('철수')

안녕,  철수

In [7]:
import math as m
def circle_area( r =1):
    print(m.pi*r**2)

In [8]:
circle_area()

3.141592653589793

In [9]:
circle_area(4.5)        #반지름이 4.5인 원 면적

63.61725123519331

In [10]:
circle_area(r =5.6)

98.5203456165759

In [11]:
print(circle_area(r=7.2))       #return 이 없으므로 None 출력

162.8601631620949
None

In [12]:
import math as m
def circle_area(r =1):
    return(m.pi * r**2)
print(circle_area(r = 7.2))

162.8601631620949

In [13]:
# 반환
def sum_sub(x, y):
    hap = x + y
    cha = x - y
    return hap, cha

In [14]:
sum_sub(10, 3)

(13, 7)

In [15]:
sum_sub( x = 10, y = 3)

(13, 7)

In [16]:
sum_sub( y = 3, x = 10)

(13, 7)

In [18]:
# lambda 익명함수       다시 사용할 수 없다. 
import math as m
(lambda a, b: m.sqrt(a**2 + b**2))(3, 4)

5.0