# 표준 파이썬 자료구조
### 리스트

In [1]:
lst = [10, 20, 30]
print(lst, type(lst))

[10, 20, 30] <class 'list'>

In [3]:
list(['java', 'python', 'R'])

['java', 'python', 'R']

In [4]:
print(list(range(5)))
print(list(range(1, 10, 2)))

[0, 1, 2, 3, 4]
[1, 3, 5, 7, 9]

In [5]:
lst = [1, 3.92, 3>4, 'list']
print(lst[0], lst[2])

1 False

In [6]:
lst[2:4]

[False, 'list']

In [7]:
print(lst[2:])
print(lst[:4])
print(lst[-1:-4:-1])

[False, 'list']
[1, 3.92, False, 'list']
['list', False, 3.92]

In [17]:
import math as m
a = [ m.pi, 30, 10 > 4, 'list', lambda x: x** 3]
a.append('py')
a

[3.141592653589793, 30, True, 'list', <function __main__.<lambda>(x)>, 'py']

In [16]:
def add2(x, y):
    return x+ y
a.insert(1, add2)
a[1](10, 20)

30

In [18]:
a

[3.141592653589793, 30, True, 'list', <function __main__.<lambda>(x)>, 'py']

In [19]:
a.remove(30)
a

[3.141592653589793, True, 'list', <function __main__.<lambda>(x)>, 'py']

In [20]:
a.pop()         #마지막 요소 제거, 반환

'py'

In [22]:
a

[3.141592653589793, True, 'list', <function __main__.<lambda>(x)>]

In [23]:
my_list = [x for x in range(10)]

In [24]:
my_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
[x for x in range(10) if x%2 == 1]

[1, 3, 5, 7, 9]

In [26]:
['even' if i%2 == 0 else 'odd' for i in range(1, 11)]

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [27]:
[[i for j in range(5)] for i in range(3)]

[[0, 0, 0, 0, 0], [1, 1, 1, 1, 1], [2, 2, 2, 2, 2]]

In [28]:
[[j for j in range(i, i+ 6)] for i in range(3)]

[[0, 1, 2, 3, 4, 5], [1, 2, 3, 4, 5, 6], [2, 3, 4, 5, 6, 7]]

### 사전 dictionary

In [29]:
mart = {'라면':1200, '음료수': 1500, '과자': 800}
print(mart, type(mart))

{'라면': 1200, '음료수': 1500, '과자': 800} <class 'dict'>

In [30]:
print(mart['라면'])
print(mart['과자'])
print(mart['음료수'])

1200
800
1500

In [31]:
data = {1: '일', 3.14: 2.71, (1,2): '튜플', 'list': [ 1,2,3]}

In [32]:
data

{1: '일', 3.14: 2.71, (1, 2): '튜플', 'list': [1, 2, 3]}

In [33]:
data = {1: '일', 3.14: 2.71, [1,2]: '리스트', 'list': [ 1,2,3]}      # 수정가능한 리스트는 키로 사용 불가능함

TypeError: unhashable type: 'list'

In [34]:
f_cnt = dict((('apple', 2), ('banana', 5), ('orange', 3)))
f_cnt

{'apple': 2, 'banana': 5, 'orange': 3}

In [35]:
f_price = dict(apple = 4000, banana = 300, orange = 2000)
f_price

{'apple': 4000, 'banana': 300, 'orange': 2000}

In [36]:
print(mart)
mart['삼각김밥'] = 1700
mart

{'라면': 1200, '음료수': 1500, '과자': 800}

{'라면': 1200, '음료수': 1500, '과자': 800, '삼각김밥': 1700}

In [37]:
mart['과자'] = 900
mart

{'라면': 1200, '음료수': 1500, '과자': 900, '삼각김밥': 1700}

In [38]:
mart.keys()

dict_keys(['라면', '음료수', '과자', '삼각김밥'])

In [39]:
mart.values()

dict_values([1200, 1500, 900, 1700])

In [40]:
mart.items()

dict_items([('라면', 1200), ('음료수', 1500), ('과자', 900), ('삼각김밥', 1700)])

## 튜플과 집합